:root {
  --primary-color: rgb(206, 25, 73);
  --secondary-color: rgb(96, 119, 96);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: rgb(212, 216, 212);
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

footer {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 20px;
}

footer a {
  color: black;
}
