h1 {
  text-align: center;
}

form {
  text-align: center;
}
.question {
  font-size: 25px;
  text-align: center;
}

.Synonyms {
  text-align: left;
}

.word {
  font-weight: bold;
  font-size: 35px;
  padding: 10px 0 10px;
  color: rgb(245, 11, 85);
}

.partOfSpeech {
  color: rgb(245, 11, 85);
  opacity: 0.6;
}

.Meaning {
  font-size: 16px;
}
