.Dictionary section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
  padding: 20px;
}

.Dictionary h1 {
  font-size: 70px;
  text-align: center;
  padding: 30px;
  color: #333;
}

.Dictionary form {
  text-align: center;
}

.Dictionary input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 24px;
  color: #333;
}
.Dictionary .question {
  font-size: 30px;
  text-align: center;
  color: #333;
}
