.Phonetic .phoneticText {
  font-size: 20px;
  margin: -15px 0 15px 10px;
  opacity: 0.7;
}
.Phonetic .listening {
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-color);

  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: var(--secondary-color);
  color: white;
}
