.Phonetic .phoneticText {
  font-size: 20px;
  line-height: 2;
  opacity: 0.8;
  display: inline;
}
.Phonetic a {
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  padding: 7px 12px;
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-color);

  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: var(--secondary-color);
  color: white;
}
