.Synonyms {
  text-align: left;
  margin: 10px 0 25px 0;
  padding: 0;
  color: rgb(245, 11, 85);
  opacity: 0.7;
}

.Synonyms li {
  display: inline-block;
  padding-right: 25px;
  font-size: 20px;
  line-height: 1;
}
